.btn btn-lg btn-black{
    background-color:light gray;
    color:white;
}
#projects {
    font-family:'Abril Fatface', cursive;
    height:55px;
}
.headshot {
    width:auto;
    height:450px;
}
.submit-button{
    background-color:white;
    
    
}
.contact-me{
    background-color:white;
}
#contact{
    font-family:'Abril Fatface', cursive;
}
.container{
    background-color:#ffb617;

}
.row{
    display:flex;
    justify-content: center;
    background-color:black;
    color:white;
    
}
.column{
    width:50%;
    height:200px;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    font-family:'Abril Fatface', cursive;
    margin:10px;
    
    
    

}
.kirby{
    width:250px;
    height:190px;
    border-radius:75px;
    margin-top:5px;
    
}
.acc{
    text-align: center;
    background-color:#ffb617;
    font-family:'Abril Fatface', cursive;
    margin-bottom:0px;
    
}
.API{
    width:250px;
    height:190px;
    border-radius: 75px;
    margin-top:5px;
}
.static{
    width:250px;
    height:190px;
    border-radius: 75px;
    margin-top:5px;
}

#aboutMe{
    font-family: 'Abril Fatface', cursive;
    background-color:tan;
}
.col-4{
    font-size: 18px;
}
.footer{
    background-color:tan;
}
.text-center {
    padding-bottom:25px;
    
}

